<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ConsoleEx" version="1.0.4" targetFramework="net46" />
  <package id="Dapper" version="1.50.0-beta7" targetFramework="net46" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net45" />
  <package id="NativeInjector" version="0.1.0.2" targetFramework="net46" />
  <package id="PowerJSON" version="2.5.0.1" targetFramework="net46" />
  <package id="System.Data.SQLite.Core" version="1.0.99.0" targetFramework="net46" />
  <package id="YamlDotNet" version="3.8.0" targetFramework="net46" />
</packages>