<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.0-beta9" targetFramework="net46" />
  <package id="FluentAssertions" version="4.3.2" targetFramework="net46" />
  <package id="Kayak" version="0.7.2" targetFramework="net46" />
  <package id="log4net" version="2.0.5" targetFramework="net46" />
  <package id="NUnit" version="2.6.4" targetFramework="net46" />
  <package id="PowerJSON" version="2.5.0.1" targetFramework="net46" />
  <package id="System.Data.SQLite.Core" version="1.0.99.0" targetFramework="net46" />
  <package id="xunit" version="2.2.0-beta1-build3239" targetFramework="net46" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net46" />
  <package id="xunit.assert" version="2.2.0-beta1-build3239" targetFramework="net46" />
  <package id="xunit.core" version="2.2.0-beta1-build3239" targetFramework="net46" />
  <package id="xunit.extensibility.core" version="2.2.0-beta1-build3239" targetFramework="net46" />
  <package id="xunit.extensibility.execution" version="2.2.0-beta1-build3239" targetFramework="net46" />
  <package id="xunit.runner.console" version="2.2.0-beta1-build3239" targetFramework="net46" developmentDependency="true" />
  <package id="xunit.runner.reporters" version="2.2.0-beta1-build3239" targetFramework="net46" />
  <package id="xunit.runner.utility" version="2.2.0-beta1-build3239" targetFramework="net46" />
  <package id="xunit.runner.visualstudio" version="2.2.0-beta1-build1144" targetFramework="net46" developmentDependency="true" />
</packages>